In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load Data

In [2]:
RAW_DATA_PATH = "../data/raw/survey_results_public.csv"

In [3]:
raw_df = pd.read_csv(RAW_DATA_PATH)
raw_df

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65432,65433,I am a developer by profession,18-24 years old,"Employed, full-time",Remote,Apples,Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","On the job training;School (i.e., University, ...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65433,65434,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65434,65435,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Apples,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Social ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65435,65436,I am a developer by profession,18-24 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Contribute to open-source projects;Profe...,"Secondary school (e.g. American high school, G...",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
65436,65437,I code primarily as a hobby,18-24 years old,"Student, full-time",NaN,Apples,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
raw_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Data columns (total 114 columns):
 #    Column                          Dtype
---   ------                          -----
 0    ResponseId                      int64
 1    MainBranch                      object
 2    Age                             object
 3    Employment                      object
 4    RemoteWork                      object
 5    Check                           object
 6    CodingActivities                object
 7    EdLevel                         object
 8    LearnCode                       object
 9    LearnCodeOnline                 object
 10   TechDoc                         object
 11   YearsCode                       object
 12   YearsCodePro                    object
 13   DevType                         object
 14   OrgSize                         object
 15   PurchaseInfluence               object
 16   BuyNewTool                      object
 17   BuildvsBuy                      object
 18   TechEndorse                     object
 19   Country                         object
 20   Currency                        object
 21   CompTotal                       float64
 22   LanguageHaveWorkedWith          object
 23   LanguageWantToWorkWith          object
 24   LanguageAdmired                 object
 25   DatabaseHaveWorkedWith          object
 26   DatabaseWantToWorkWith          object
 27   DatabaseAdmired                 object
 28   PlatformHaveWorkedWith          object
 29   PlatformWantToWorkWith          object
 30   PlatformAdmired                 object
 31   WebframeHaveWorkedWith          object
 32   WebframeWantToWorkWith          object
 33   WebframeAdmired                 object
 34   EmbeddedHaveWorkedWith          object
 35   EmbeddedWantToWorkWith          object
 36   EmbeddedAdmired                 object
 37   MiscTechHaveWorkedWith          object
 38   MiscTechWantToWorkWith          object
 39   MiscTechAdmired                 object
 40   ToolsTechHaveWorkedWith         object
 41   ToolsTechWantToWorkWith         object
 42   ToolsTechAdmired                object
 43   NEWCollabToolsHaveWorkedWith    object
 44   NEWCollabToolsWantToWorkWith    object
 45   NEWCollabToolsAdmired           object
 46   OpSysPersonal use               object
 47   OpSysProfessional use           object
 48   OfficeStackAsyncHaveWorkedWith  object
 49   OfficeStackAsyncWantToWorkWith  object
 50   OfficeStackAsyncAdmired         object
 51   OfficeStackSyncHaveWorkedWith   object
 52   OfficeStackSyncWantToWorkWith   object
 53   OfficeStackSyncAdmired          object
 54   AISearchDevHaveWorkedWith       object
 55   AISearchDevWantToWorkWith       object
 56   AISearchDevAdmired              object
 57   NEWSOSites                      object
 58   SOVisitFreq                     object
 59   SOAccount                       object
 60   SOPartFreq                      object
 61   SOHow                           object
 62   SOComm                          object
 63   AISelect                        object
 64   AISent                          object
 65   AIBen                           object
 66   AIAcc                           object
 67   AIComplex                       object
 68   AIToolCurrently Using           object
 69   AIToolInterested in Using       object
 70   AIToolNot interested in Using   object
 71   AINextMuch more integrated      object
 72   AINextNo change                 object
 73   AINextMore integrated           object
 74   AINextLess integrated           object
 75   AINextMuch less integrated      object
 76   AIThreat                        object
 77   AIEthics                        object
 78   AIChallenges                    object
 79   TBranch                         object
 80   ICorPM                          object
 81   WorkExp                         float64
 82   Knowledge_1                     object
 83   Knowledge_2                     object
 84   Knowledge_3                     object
 85   Knowledge_4                     object
 86   Knowledge_5                     object
 87   Knowledge_6                     object
 88   Knowledge_7                     object
 89   Knowledge_8                     object
 90   Knowledge_9                     object
 91   Frequency_1                     object
 92   Frequency_2                     object
 93   Frequency_3                     object
 94   TimeSearching                   object
 95   TimeAnswering                   object
 96   Frustration                     object
 97   ProfessionalTech                object
 98   ProfessionalCloud               object
 99   ProfessionalQuestion            object
 100  Industry                        object
 101  JobSatPoints_1                  float64
 102  JobSatPoints_4                  float64
 103  JobSatPoints_5                  float64
 104  JobSatPoints_6                  float64
 105  JobSatPoints_7                  float64
 106  JobSatPoints_8                  float64
 107  JobSatPoints_9                  float64
 108  JobSatPoints_10                 float64
 109  JobSatPoints_11                 float64
 110  SurveyLength                    object
 111  SurveyEase                      object
 112  ConvertedCompYearly             float64
 113  JobSat                          float64
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB

## YearsCodePro

In [5]:
data = raw_df.copy()

In [6]:
age_unique_values = data['YearsCodePro'].unique()
age_unique_values

array([nan, '17', '27', '7', '11', '25', '12', '10', '3',
       'Less than 1 year', '18', '37', '15', '20', '6', '2', '16', '8',
       '14', '4', '45', '1', '24', '29', '5', '30', '26', '9', '33', '13',
       '35', '23', '22', '31', '19', '21', '28', '34', '32', '40', '50',
       '39', '44', '42', '41', '36', '38', 'More than 50 years', '43',
       '47', '48', '46', '49'], dtype=object)

In [7]:
new_values_dict = {
    "YearsCodePro" : {
        "Less than 1 year" : "0", 
        "More than 50 years" : "51"
    }, 
    "YearsCode" : {
        "Less than 1 year" : "0", 
        "More than 50 years" : "51"
    }
}

data['YearsCodePro'] = data['YearsCodePro'].str.replace("Less than 1 year", 
                                 new_values_dict['YearsCodePro']['Less than 1 year'])
data['YearsCodePro'] = data['YearsCodePro'].str.replace("More than 50 years", 
                                 new_values_dict['YearsCodePro']['More than 50 years'])

################################à

data['YearsCode'] = data['YearsCode'].str.replace("Less than 1 year", 
                                 new_values_dict['YearsCode']['Less than 1 year'])
data['YearsCode'] = data['YearsCode'].str.replace("More than 50 years", 
                                 new_values_dict['YearsCode']['More than 50 years'])

In [8]:
# Sanity Check 

YEARS_CODE = ['YearsCodePro', 'YearsCode']
for feat in YEARS_CODE:
    unique_values = data[feat].unique()
    print(f"{feat}: {unique_values}")
    print(f"------------------------")

YearsCodePro: [nan '17' '27' '7' '11' '25' '12' '10' '3' '0' '18' '37' '15' '20' '6' '2'
 '16' '8' '14' '4' '45' '1' '24' '29' '5' '30' '26' '9' '33' '13' '35'
 '23' '22' '31' '19' '21' '28' '34' '32' '40' '50' '39' '44' '42' '41'
 '36' '38' '51' '43' '47' '48' '46' '49']
------------------------
YearsCode: [nan '20' '37' '4' '9' '10' '7' '1' '15' '30' '31' '6' '12' '22' '5' '36'
 '25' '44' '24' '18' '3' '8' '51' '11' '29' '40' '39' '2' '42' '34' '19'
 '35' '16' '33' '13' '23' '14' '28' '17' '21' '43' '46' '26' '32' '41'
 '45' '27' '38' '50' '48' '47' '0' '49']
------------------------

## Skillset feature

In [9]:
SKILLS_FEATS = [
    'LanguageHaveWorkedWith',
     'DatabaseHaveWorkedWith',
     'PlatformHaveWorkedWith',
     'WebframeHaveWorkedWith',
     'EmbeddedHaveWorkedWith',
     'MiscTechHaveWorkedWith',
     'ToolsTechHaveWorkedWith',
] 

data[SKILLS_FEATS].sample().iloc[0]

LanguageHaveWorkedWith     Bash/Shell (all shells);HTML/CSS;Java;JavaScri...
DatabaseHaveWorkedWith                                         MongoDB;MySQL
PlatformHaveWorkedWith                                          Google Cloud
WebframeHaveWorkedWith          Angular;Express;Gatsby;Next.js;Node.js;React
EmbeddedHaveWorkedWith                                                   NaN
MiscTechHaveWorkedWith                                                   NaN
ToolsTechHaveWorkedWith                            Homebrew;npm;Webpack;Yarn
Name: 47334, dtype: object

In [10]:
mask = data[SKILLS_FEATS[0]].isna()
data[~mask][SKILLS_FEATS[0]]

1        Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...
2                                                       C#
3        C;C++;HTML/CSS;Java;JavaScript;PHP;PowerShell;...
4                  C++;HTML/CSS;JavaScript;Lua;Python;Rust
5        Bash/Shell (all shells);HTML/CSS;Java;JavaScri...
                               ...
65421                       Bash/Shell (all shells);Python
65427                                    MATLAB;Python;SQL
65431    Bash/Shell (all shells);C;C#;C++;Delphi;Groovy...
65435             C;C++;Go;Lua;Objective-C;Python;Rust;SQL
65436     C;HTML/CSS;Java;JavaScript;PHP;Python;TypeScript
Name: LanguageHaveWorkedWith, Length: 59745, dtype: object

In [11]:
for feat in SKILLS_FEATS:
    mask = data[feat].isna()
    temp = data[mask][feat]
    temp = data[~mask][feat].str.split(";")
    

temp

1        [Docker, Homebrew, Kubernetes, npm, Vite, Webp...
2                                                [MSBuild]
3                                       [Docker, npm, Pip]
4                                         [APT, Make, npm]
5                       [Docker, Homebrew, npm, Pip, pnpm]
                               ...
65414                                    [Chocolatey, npm]
65421                                     [Pip, Terraform]
65431    [Chocolatey, Docker, Gradle, Homebrew, Kuberne...
65435       [Ansible, APT, Docker, Make, npm, Pip, Podman]
65436                                     [npm, Pip, Vite]
Name: ToolsTechHaveWorkedWith, Length: 52482, dtype: object

In [12]:
# pd.options.mode.copy_on_write = False

In [13]:
SKILLS_FEATS

['LanguageHaveWorkedWith',
 'DatabaseHaveWorkedWith',
 'PlatformHaveWorkedWith',
 'WebframeHaveWorkedWith',
 'EmbeddedHaveWorkedWith',
 'MiscTechHaveWorkedWith',
 'ToolsTechHaveWorkedWith']

In [21]:
# pd.options.mode.copy_on_write = False
# for feat in SKILLS_FEATS:
#     mask = data[feat].isna()
# 
#     # Set data[mask][feat] to an empty list []
#     data[feat][mask] = data[feat][mask].apply(lambda x: [])
# 
#     # Split data[~mask][feat] by ";"
#     data[feat][~mask] = data[feat][~mask].apply(lambda x: x.split(";"))


def split_answer(pd_series, delimiter): 
    """Function to split single answer"""
    return pd_series.str.split(delimiter)

splitted_df = pd.DataFrame()

for feat in SKILLS_FEATS:
    modified_series = split_answer(data[feat], delimiter=";")
    mask_null = modified_series.isnull()
    modified_series.loc[mask_null] = modified_series[mask_null].apply(lambda x: [])
    
    splitted_df = pd.concat([splitted_df, modified_series], axis=1)
# data[SKILLS_FEATS].sample().iloc[0]
splitted_df

,LanguageHaveWorkedWith,DatabaseHaveWorkedWith,PlatformHaveWorkedWith,WebframeHaveWorkedWith,EmbeddedHaveWorkedWith,MiscTechHaveWorkedWith,ToolsTechHaveWorkedWith
0,[],[],[],[],[],[],[]
1,"[Bash/Shell (all shells), Go, HTML/CSS, Java, ...","[Dynamodb, MongoDB, PostgreSQL]","[Amazon Web Services (AWS), Heroku, Netlify]","[Express, Next.js, Node.js, React]",[],[],"[Docker, Homebrew, Kubernetes, npm, Vite, Webp..."
2,[C#],[Firebase Realtime Database],[Google Cloud],[ASP.NET CORE],[Rasberry Pi],"[.NET (5+) , .NET Framework (1.0 - 4.8), .NET ...",[MSBuild]
3,"[C, C++, HTML/CSS, Java, JavaScript, PHP, Powe...","[MongoDB, MySQL, PostgreSQL, SQLite]","[Amazon Web Services (AWS), Fly.io, Heroku]","[jQuery, Next.js, Node.js, React, WordPress]",[Rasberry Pi],"[NumPy, Pandas, Ruff, TensorFlow]","[Docker, npm, Pip]"
4,"[C++, HTML/CSS, JavaScript, Lua, Python, Rust]","[PostgreSQL, SQLite]",[],[],"[CMake, Cargo, Rasberry Pi]",[],"[APT, Make, npm]"
...,...,...,...,...,...,...,...
65432,[],[],[],[],[],[],[]
65433,[],[],[],[],[],[],[]
65434,[],[],[],[],[],[],[]
65435,"[C, C++, Go, Lua, Objective-C, Python, Rust, SQL]","[PostgreSQL, SQLite]",[],"[Angular, Node.js, React]","[Arduino, CMake, Cargo, GNU GCC, Rasberry Pi]","[GTK, OpenGL]","[Ansible, APT, Docker, Make, npm, Pip, Podman]"
65436,"[C, HTML/CSS, Java, JavaScript, PHP, Python, T...","[MongoDB, MySQL, Oracle, PostgreSQL]","[Amazon Web Services (AWS), Cloudflare, Google...","[Django, Express, jQuery, Next.js, Node.js, Re...",[],[],"[npm, Pip, Vite]"

In [23]:
splitted_df.sample().iloc[0]

LanguageHaveWorkedWith     [Bash/Shell (all shells), C++, HTML/CSS, Java,...
DatabaseHaveWorkedWith                       [Dynamodb, MongoDB, PostgreSQL]
PlatformHaveWorkedWith                           [Amazon Web Services (AWS)]
WebframeHaveWorkedWith                             [Express, Node.js, React]
EmbeddedHaveWorkedWith                                [Arduino, Rasberry Pi]
MiscTechHaveWorkedWith                                   [Capacitor, Opencv]
ToolsTechHaveWorkedWith                  [Docker, Homebrew, npm, Vite, Yarn]
Name: 47603, dtype: object

In [25]:
for feat in SKILLS_FEATS:
    data[feat] = splitted_df[feat]
    
data.sample().iloc[0]

ResponseId                                                         36627
MainBranch             I am not primarily a developer, but I write co...
Age                                                      35-44 years old
Employment                                           Employed, full-time
RemoteWork                          Hybrid (some remote, some in-person)
                                             ...
JobSatPoints_11                                                      0.0
SurveyLength                                       Appropriate in length
SurveyEase                                                          Easy
ConvertedCompYearly                                              51984.0
JobSat                                                               3.0
Name: 36626, Length: 114, dtype: object

# DevType

In [28]:
data['DevType'].unique()

array([nan, 'Developer, full-stack', 'Developer Experience', 'Student',
       'Academic researcher', 'Project manager', 'Developer Advocate',
       'Developer, back-end', 'Other (please specify):',
       'Developer, front-end', 'Database administrator',
       'Developer, desktop or enterprise applications',
       'Cloud infrastructure engineer',
       'Data scientist or machine learning specialist',
       'Research & Development role',
       'Developer, embedded applications or devices',
       'System administrator', 'DevOps specialist', 'Engineering manager',
       'Designer', 'Security professional',
       'Senior Executive (C-Suite, VP, etc.)', 'Developer, mobile',
       'Developer, game or graphics', 'Data or business analyst',
       'Educator', 'Developer, QA or test', 'Product manager',
       'Developer, AI', 'Scientist', 'Engineer, site reliability',
       'Blockchain', 'Marketing or sales professional',
       'Hardware Engineer', 'Data engineer'], dtype=object)

# Save data

In [27]:
data.to_pickle("../data/processed/survey_results_public_processed.pkl")