In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load Data

In [13]:
RAW_DATA_PATH = "../data/raw/2020/survey_results_public.csv"

In [14]:
raw_df = pd.read_csv(RAW_DATA_PATH)
raw_df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [4]:
raw_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       49370 non-null  object
 14  EdLevel                       57431 non-null  object
 15  Employment                    63854 non-null  object
 16  Ethnicity                     45948 non-null  object
 17  Gender                        50557 non-null  object
 18  JobFactors                    49349 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       51727 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  47287 non-null  object
 26  NEWCollabToolsWorkedWith      52883 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            41022 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 54803 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       44334 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        56476 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                50995 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  object
 60  YearsCodePro                  46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB

## YearsCodePro

In [15]:
data = raw_df.copy()

In [16]:
age_unique_values = data['YearsCodePro'].unique()
age_unique_values

array(['27', '4', nan, '8', '13', '2', '7', '20', '1', '23', '3', '12',
       '17', '18', '10', '14', '29', '6', '28', '9', '15', '11', '16',
       '25', 'Less than 1 year', '5', '21', '19', '35', '24', '32', '22',
       '30', '38', '26', '40', '33', '31', 'More than 50 years', '34',
       '36', '39', '37', '41', '45', '47', '42', '46', '50', '43', '44',
       '48', '49'], dtype=object)

In [17]:
new_values_dict = {
    "YearsCodePro" : {
        "Less than 1 year" : "0", 
        "More than 50 years" : "51"
    }, 
    "YearsCode" : {
        "Less than 1 year" : "0", 
        "More than 50 years" : "51"
    }
}

data['YearsCodePro'] = data['YearsCodePro'].str.replace("Less than 1 year", 
                                 new_values_dict['YearsCodePro']['Less than 1 year'])
data['YearsCodePro'] = data['YearsCodePro'].str.replace("More than 50 years", 
                                 new_values_dict['YearsCodePro']['More than 50 years'])

################################à

data['YearsCode'] = data['YearsCode'].str.replace("Less than 1 year", 
                                 new_values_dict['YearsCode']['Less than 1 year'])
data['YearsCode'] = data['YearsCode'].str.replace("More than 50 years", 
                                 new_values_dict['YearsCode']['More than 50 years'])

In [18]:
# Sanity Check 

YEARS_CODE = ['YearsCodePro', 'YearsCode']
for feat in YEARS_CODE:
    unique_values = data[feat].unique()
    print(f"{feat}: {unique_values}")
    print(f"------------------------")

YearsCodePro: ['27' '4' nan '8' '13' '2' '7' '20' '1' '23' '3' '12' '17' '18' '10' '14'
 '29' '6' '28' '9' '15' '11' '16' '25' '0' '5' '21' '19' '35' '24' '32'
 '22' '30' '38' '26' '40' '33' '31' '51' '34' '36' '39' '37' '41' '45'
 '47' '42' '46' '50' '43' '44' '48' '49']
------------------------
YearsCode: ['36' '7' '4' '15' '6' '17' '8' '10' '35' '5' '37' '19' '9' '22' '30' '23'
 '20' '2' '0' '3' '13' '25' '16' '43' '11' '38' '33' nan '24' '21' '12'
 '40' '27' '50' '46' '14' '18' '28' '32' '44' '26' '42' '31' '34' '29' '1'
 '39' '41' '45' '51' '47' '49' '48']
------------------------

## Skillset feature

In [19]:
data.columns.values

array(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode',
       'CompFreq', 'CompTotal', 'ConvertedComp', 'Country',
       'CurrencyDesc', 'CurrencySymbol', 'DatabaseDesireNextYear',
       'DatabaseWorkedWith', 'DevType', 'EdLevel', 'Employment',
       'Ethnicity', 'Gender', 'JobFactors', 'JobSat', 'JobSeek',
       'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith',
       'NEWDevOps', 'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt',
       'NEWJobHuntResearch', 'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood',
       'NEWOtherComms', 'NEWOvertime', 'NEWPurchaseResearch',
       'NEWPurpleLink', 'NEWSOSites', 'NEWStuck', 'OpSys', 'OrgSize',
       'PlatformDesireNextYear', 'PlatformWorkedWith', 'PurchaseWhat',
       'Sexuality', 'SOAccount', 'SOComm', 'SOPartFreq', 'SOVisitFreq',
       'SurveyEase', 'SurveyLength', 'Trans', 'UndergradMajor',
       'WebframeDesireNextYear', 'WebframeWorkedWith', 'WelcomeChange',
       'WorkWeekHrs', 'YearsCode', 'YearsCodePro'], dtype=object)

In [21]:
SKILLS_FEATS = [
    'LanguageWorkedWith',
     'DatabaseWorkedWith',
     'PlatformWorkedWith',
     'WebframeWorkedWith',
     'MiscTechWorkedWith',
] 

data[SKILLS_FEATS].sample().iloc[0]

LanguageWorkedWith    Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...
DatabaseWorkedWith          Firebase;Microsoft SQL Server;MongoDB;MySQL
PlatformWorkedWith                              Microsoft Azure;Windows
WebframeWorkedWith                                     ASP.NET;React.js
MiscTechWorkedWith                                         .NET;Node.js
Name: 4372, dtype: object

In [22]:
mask = data[SKILLS_FEATS[0]].isna()
data[~mask][SKILLS_FEATS[0]]

0                                   C#;HTML/CSS;JavaScript
1                                         JavaScript;Swift
2                                 Objective-C;Python;Swift
4                                        HTML/CSS;Ruby;SQL
5                                 HTML/CSS;Java;JavaScript
                               ...
64447                    C#;HTML/CSS;Java;JavaScript;Swift
64453                                         C++;HTML/CSS
64457    Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...
64459                                             HTML/CSS
64460                      C#;HTML/CSS;Java;JavaScript;SQL
Name: LanguageWorkedWith, Length: 57378, dtype: object

In [23]:
for feat in SKILLS_FEATS:
    mask = data[feat].isna()
    temp = data[mask][feat]
    temp = data[~mask][feat].str.split(";")
    

temp

0                              [.NET, .NET Core]
1                                 [React Native]
4                                      [Ansible]
7                                      [Ansible]
9                                       [Pandas]
                          ...
64441    [.NET, .NET Core, TensorFlow, Unity 3D]
64446         [Node.js, Unity 3D, Unreal Engine]
64447                                     [.NET]
64453                                     [.NET]
64460                          [.NET, .NET Core]
Name: MiscTechWorkedWith, Length: 40314, dtype: object

In [12]:
# pd.options.mode.copy_on_write = False

In [13]:
SKILLS_FEATS

['LanguageHaveWorkedWith',
 'DatabaseHaveWorkedWith',
 'PlatformHaveWorkedWith',
 'WebframeHaveWorkedWith',
 'EmbeddedHaveWorkedWith',
 'MiscTechHaveWorkedWith',
 'ToolsTechHaveWorkedWith']

In [24]:
# pd.options.mode.copy_on_write = False
# for feat in SKILLS_FEATS:
#     mask = data[feat].isna()
# 
#     # Set data[mask][feat] to an empty list []
#     data[feat][mask] = data[feat][mask].apply(lambda x: [])
# 
#     # Split data[~mask][feat] by ";"
#     data[feat][~mask] = data[feat][~mask].apply(lambda x: x.split(";"))


def split_answer(pd_series, delimiter): 
    """Function to split single answer"""
    return pd_series.str.split(delimiter)

splitted_df = pd.DataFrame()

for feat in SKILLS_FEATS:
    modified_series = split_answer(data[feat], delimiter=";")
    mask_null = modified_series.isnull()
    modified_series.loc[mask_null] = modified_series[mask_null].apply(lambda x: [])
    
    splitted_df = pd.concat([splitted_df, modified_series], axis=1)
# data[SKILLS_FEATS].sample().iloc[0]
splitted_df

,LanguageWorkedWith,DatabaseWorkedWith,PlatformWorkedWith,WebframeWorkedWith,MiscTechWorkedWith
0,"[C#, HTML/CSS, JavaScript]","[Elasticsearch, Microsoft SQL Server, Oracle]",[Windows],"[ASP.NET, ASP.NET Core]","[.NET, .NET Core]"
1,"[JavaScript, Swift]",[],[iOS],[],[React Native]
2,"[Objective-C, Python, Swift]",[],[],[],[]
3,[],[],[],[],[]
4,"[HTML/CSS, Ruby, SQL]","[MySQL, PostgreSQL, Redis, SQLite]","[AWS, Docker, Linux, MacOS, Windows]",[Ruby on Rails],[Ansible]
...,...,...,...,...,...
64456,[],[],[],[],[]
64457,"[Assembly, Bash/Shell/PowerShell, C, C#, C++, ...","[Cassandra, Couchbase, DynamoDB, Elasticsearch...",[],[],[]
64458,[],[],[],[],[]
64459,[HTML/CSS],[Oracle],"[Linux, Windows]",[],[]
64460,"[C#, HTML/CSS, Java, JavaScript, SQL]","[MariaDB, Microsoft SQL Server, MySQL, Oracle]","[Android, Arduino, Linux, Raspberry Pi, Windows]","[Angular, Angular.js, ASP.NET Core, jQuery]","[.NET, .NET Core]"

In [25]:
splitted_df.sample().iloc[0]

LanguageWorkedWith    [C#, HTML/CSS, Java, JavaScript, PHP, SQL]
DatabaseWorkedWith                              [MariaDB, MySQL]
PlatformWorkedWith                      [Docker, Linux, Windows]
WebframeWorkedWith                             [jQuery, Symfony]
MiscTechWorkedWith                                    [Unity 3D]
Name: 34017, dtype: object

In [26]:
for feat in SKILLS_FEATS:
    data[feat] = splitted_df[feat]
    
data.sample().iloc[0]

Respondent                                              40495
MainBranch                     I am a developer by profession
Hobbyist                                                  Yes
Age                                                      28.0
Age1stCode                                                 19
                                       ...
WebframeWorkedWith                                         []
WelcomeChange         Just as welcome now as I felt last year
WorkWeekHrs                                              42.0
YearsCode                                                  10
YearsCodePro                                                6
Name: 39946, Length: 61, dtype: object

# DevType

In [27]:
data['DevType'].unique()

array(['Developer, desktop or enterprise applications;Developer, full-stack',
       'Developer, full-stack;Developer, mobile', nan, ...,
       'Data scientist or machine learning specialist;Database administrator;Developer, back-end;Developer, front-end;System administrator',
       'Academic researcher;Data or business analyst;Data scientist or machine learning specialist;Database administrator;Designer;Developer, back-end;Developer, desktop or enterprise applications;Developer, embedded applications or devices;Developer, front-end;Developer, full-stack;Developer, game or graphics;Developer, mobile;Developer, QA or test;DevOps specialist;Senior executive/VP;System administrator',
       'Data or business analyst;Developer, mobile;Senior executive/VP;System administrator'],
      dtype=object)

In [28]:
def split_answer(pd_series, delimiter): 
    """Function to split single answer"""
    return pd_series.str.split(delimiter)

splitted_df = pd.DataFrame()


modified_series = split_answer(data['DevType'], delimiter=";")
mask_null = modified_series.isnull()
modified_series.loc[mask_null] = modified_series[mask_null].apply(lambda x: [])

splitted_df = pd.concat([splitted_df, modified_series], axis=1)
# data[SKILLS_FEATS].sample().iloc[0]
splitted_df

                                                 DevType
0      [Developer, desktop or enterprise applications...
1             [Developer, full-stack, Developer, mobile]
2                                                     []
3                                                     []
4                                                     []
...                                                  ...
64456                              [Senior executive/VP]
64457                                                 []
64458                                                 []
64459                                                 []
64460                                                 []

[64461 rows x 1 columns]

In [40]:
splitted_df.iloc[22654].values

array([list(['Developer, back-end', 'Developer, front-end', 'Developer, full-stack', 'Developer, mobile'])],
      dtype=object)

In [41]:
data['DevType'] = splitted_df

In [44]:
data.sample().iloc[0]

Respondent                                     48898
MainBranch            I am a developer by profession
Hobbyist                                         Yes
Age                                              NaN
Age1stCode                                        16
                                   ...
WebframeWorkedWith                  [jQuery, Spring]
WelcomeChange                                    NaN
WorkWeekHrs                                      9.0
YearsCode                                         10
YearsCodePro                                       2
Name: 47896, Length: 61, dtype: object

# Save data

In [45]:
data.to_pickle("../data/processed/2020/survey_results_public_processed.pkl")